.burger {
  display: none;
}
.burger-close {
  display: none;
}
@media (max-width: 767.98px) {
  .burger {
    display: block;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    width: 44px;
    height: 44px;

    &__line {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: var(--light-color);
      border-radius: 100px;
      width: 26px;
      height: 2px;

      &:first-child {
        margin-top: -7px;
      }

      &:nth-child(2) {
      }

      &:last-child {
        margin-top: 7px;
        width: 13px;
        left: 9px;
        transform: translateY(-50%);
      }
    }
  }
  .burger-close {
    display: block;
    position: absolute;
    top: 14px;
    right: var(--container-offset);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    width: 44px;
    height: 44px;
    background: url('../img/burgerClose.svg') center / 14px 12px no-repeat;
  }
}
@media (any-hover: hover) {}
