.tarifs {
  padding-top: 0;
  &__container {
  }

  &__title {

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 40px;
    row-gap: 15px;
  }

  &__item {
    grid-column: 4 span;
    border: 1px solid rgba(20, 16, 36, 0.2);
    border-radius: 20px;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--dark-color);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background: rgba(20, 16, 36, 1);
        transform: scaleY(1.04);
        color: var(--light-color);
      }
    }
  }

  &__terif {
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  &__price {
    font-weight: 600;
    font-size: 50px;
    line-height: 160%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  &__link {
    margin-top: auto;
    min-width: 100%;
  }
}

@media (max-width: 1200px) {
  .tarifs {
    &__item {
      padding: 40px 10px;
    }
  }
}
@media (max-width: 1000px) {
  .tarifs {
    &__items {
      column-gap: 20px;
    }
    &__price {
      font-size: 38px;
    }
    &__link {
      padding: 25px 15px;
    }
  }
}
@media (max-width: 767.98px) {
  .tarifs {
    &__title {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    &__item {
      grid-column: 12 span;
      padding: 40px 40px;
    }
    &__terif,
    &__descr {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    &__price {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width: 450px) {
  .tarifs {
    &__item {
      padding: 25px 10px;
    }
  }
}
@media (any-hover: hover) {}
