<section class="main-block">
  <div class="container main-block__container">
    <div class="main-block__content">
      <h1 class="main-block__title">ROBO SCHOOL</h1>
      <div class="main-block__text">Курсы повышения квалификации по робототехнике <br> для педагогов начальной школы</div>
      <div class="main-block__buttons">
        <a href="#order" class="main-block__link button btn-reset" data-scroll>Записаться на курс</a>
      </div>
    </div>
    <div class="main-block__image">
      <picture>
        <source srcset="img/mainBg.webp" type="image/webp">
        <img loading="lazy" src="img/mainBg.png" class="image" width="783" height="919" alt="background">
      </picture>
    </div>
  </div>
</section>
