<section class="section-padding tarifs" id="tarifs">
  <div class="container tarifs__container">
    <h2 class="tarifs__title section-title">Выберите нужный пакет</h2>

    <div class="tarifs__items">

      <article class="tarifs__item">
        <h3 class="tarifs__terif">– PRO –</h3>
        <div class="tarifs__price">20.000 грн</div>
        <div class="tarifs__descr">УМК по робототетхнике и программированию</div>
        <a href="#order" class="button btn-reset tarifs__link" data-scroll>Оставить заявку</a>
      </article>

      <article class="tarifs__item">
        <h3 class="tarifs__terif">– ROBO –</h3>
        <div class="tarifs__price">15.000 грн</div>
        <div class="tarifs__descr">УМК по программированию</div>
        <a href="#order" class="button btn-reset tarifs__link" data-scroll>Оставить заявку</a>
      </article>

      <article class="tarifs__item">
        <h3 class="tarifs__terif">– PROG –</h3>
        <div class="tarifs__price">10.000 грн</div>
        <div class="tarifs__descr">УМК по робототетхнике</div>
        <a href="#order" class="button btn-reset tarifs__link" data-scroll>Оставить заявку</a>
      </article>

    </div>

  </div>
</section>
