<section class="treiners section-padding" id="treiners">
  <div class="container treiners__container">
    <h2 class="treiners__title section-title">Профессиональные тренеры</h2>
    <div class="treiners__wrapper">
      <div class="swiper treiners__content">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="treiners__item">
              <picture>
                <source srcset="img/treiner1.webp" type="image/webp">
                <img loading="lazy" src="img/treiner1.jpg" class="treiners__image" width="360" height="500" alt="treiner">
              </picture>
            </div>
            <div class="treiners__name">Ирина Лайм</div>
            <div class="treiners__post">преподаватель по робототехнике</div>
            <button class="btn-reset treiners__btn" data-graph-path="treiner1">Подробнее</button>
          </div>

          <div class="swiper-slide">
            <div class="treiners__item">
              <picture>
                <source srcset="img/treiner2.webp" type="image/webp">
                <img loading="lazy" src="img/treiner2.jpg" class="treiners__image" width="360" height="500" alt="treiner">
              </picture>
            </div>
            <div class="treiners__name">Марина Орлова</div>
            <div class="treiners__post">преподаватель по робототехнике</div>
            <button class="btn-reset treiners__btn" data-graph-path="treiner1">Подробнее</button>
          </div>

          <div class="swiper-slide">
            <div class="treiners__item">
              <picture>
                <source srcset="img/treiner3.webp" type="image/webp">
                <img loading="lazy" src="img/treiner3.jpg" class="treiners__image" width="360" height="500" alt="treiner">
              </picture>
            </div>
            <div class="treiners__name">Максим Петров</div>
            <div class="treiners__post">преподаватель по робототехнике</div>
            <button class="btn-reset treiners__btn" data-graph-path="treiner1">Подробнее</button>
          </div>

          <div class="swiper-slide">
            <div class="treiners__item">
              <picture>
                <source srcset="img/treiner5.webp" type="image/webp">
                <img loading="lazy" src="img/treiner5.jpg" class="treiners__image" width="360" height="500" alt="treiner">
              </picture>
            </div>
            <div class="treiners__name">Лиза Весенняя</div>
            <div class="treiners__post">преподаватель по робототехнике</div>
            <button class="btn-reset treiners__btn" data-graph-path="treiner1">Подробнее</button>
          </div>

          <div class="swiper-slide">
            <div class="treiners__item">
              <picture>
                <source srcset="img/treiner3.webp" type="image/webp">
                <img loading="lazy" src="img/treiner3.jpg" class="treiners__image" width="360" height="500" alt="treiner">
              </picture>
            </div>
            <div class="treiners__name">Максим Петров</div>
            <div class="treiners__post">преподаватель по робототехнике</div>
            <button class="btn-reset treiners__btn" data-graph-path="treiner1">Подробнее</button>
          </div>

          <div class="swiper-slide">
            <div class="treiners__item">
              <picture>
                <source srcset="img/treiner5.webp" type="image/webp">
                <img loading="lazy" src="img/treiner5.jpg" class="treiners__image" width="360" height="500" alt="treiner">
              </picture>
            </div>
            <div class="treiners__name">Лиза Весенняя</div>
            <div class="treiners__post">преподаватель по робототехнике</div>
            <button class="btn-reset treiners__btn" data-graph-path="treiner1">Подробнее</button>
          </div>

        </div>
      </div>
      <div class="treiners__nav">
        <div class="swiper-scrollbar treiners__scroll"></div>
        <div class="treiners__btns">
          <button class="btn-reset treiners__slider-btn treiners__slider-btn_prew" aria-label="перейти к предыдущему слайду"></button>
          <button class="btn-reset treiners__slider-btn treiners__slider-btn_next" aria-label="перейти к следующему слайду"></button>
        </div>
      </div>
    </div>

  </div>
</section>
